dash==1.17.0
dash-bootstrap-components==0.10.7
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
gunicorn==20.0.4
matplotlib==3.3.3
numpy==1.18.4
pandas==1.0.3
Pillow==8.2.0
plotly==4.10.0
requests
Flask-Caching==1.9.0
parmap==1.5.2
